{% extends('BlogBundle:Blog:layout.html.twig') %}

{% block title %}
    Main page
{% endblock %}

{% block content %}
    {% for post in posts %}
    <div class="col-md-12">
        <div class="well">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placekitten.com/150/150">
                </a>
                <div class="media-body">
                    <a href="/posts/{{  post.getId }}"><h4 class="media-heading">{{ post.getTitle | e }}</h4></a>
                    <p class="text-right">By Admin</p>
                    <p>{{ post.getContent[:500] ~ '...' }}</p>
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i> {{ post.getCreatedAt.diffForHumans }} </span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}