<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block('title') }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    {% include('BlogBundle:Blog:navigation.html.twig') %}
    <div class="col-md-12">
        {# есть мнение, что тег h1 на странице может быть только один раз, потому сделаем заголовок блога блоком со стилем h1 #}
        <div class="h1">Simple blog on Symfony</div>
    </div>
    {{ block('content') }}
</div>
</body>
</html>