{% extends('BlogBundle:Blog:layout.html.twig') %}

{% block title %}
    {{ post.getTitle | e }}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1>{{ post.getTitle | e }}</h1>
        <p>{{ post.getContent | e }}</p>
    </div>
{% endblock %}